
/** Background **/
.bg-primary{
    background-color: #0c4e68 !important;
}
.bg-success{
    background-color: #47993a !important;
}
.bg-danger{
    background-color: #d12c24 !important;
}
/** text color **/
.text-primary{
    color: #0c4e68 !important;
}
.text-success{
    color: #47993a !important;
}
.text-danger{
    color: #d12c24 !important;
}
/* button */
.btn-primary{
    background-color: #0c4e68 !important;
    border: 0px;
}
.btn-primary:hover{
    background-color: #136788 !important;
    border: 0px;
}
.btn-success{
    background-color: #3b9642 !important;
    border: 0px;
}
.btn-success:hover{
    background-color: #52b842 !important;
    border: 0px;
}
.btn-danger{
    background-color: #d12c24 !important;
    border: 0px;
}
.btn-danger:hover{
    background-color: #e23930 !important;
    border: 0px;
}

.card{
    border:none;
    max-width:65%;
    padding:0;
}
.card-body{
    margin:0;
    padding:0;
}

.card-header{
    border:none;
    background:none;
}

.card-header h6,
.card-header h4 {
    letter-spacing: 7px; 
}

/* .text-center p {
    letter-spacing: 7px;
    font-size: 20px;
} */



/* Mengatur warna shadow pada input saat di-fokus */
.form-control:focus {
    box-shadow: 0 0 5px rgba(0, 250, 0, 0.5);;
    border-color: #3b9642;
    /* box-shadow: #3b9642 !important; */

}

/* Mengatur warna shadow pada tombol saat diklik */
.btn:active, 
.btn:focus {
    box-shadow: 0 0 5px rgba(0, 250, 0, 0.5);;
}

@media (max-width: 480px){
    .card-header h6,
    .card-header h4 {
        letter-spacing: 5px;
        font-size: 12pt; 
    }

}